<div class="home-grid">
    <!-- Card 1 -->
    <a class="menu-card" routerLink="/livros">
        <span class="info-badge" title="Acessar"><i class="bi bi-info-lg"></i></span>

        <div class="icon-wrap">
            <i class="bi bi-book"></i>
        </div>

        <div class="menu-title">Livros</div>
    </a>

    <!-- Card 2 -->
    <a class="menu-card" routerLink="/autores">
        <span class="info-badge" title="Acessar"><i class="bi bi-info-lg"></i></span>

        <div class="icon-wrap">
            <i class="bi bi-person"></i>
        </div>

        <div class="menu-title">Autores</div>
    </a>

    <!-- Card 3 -->
    <a class="menu-card" routerLink="/assuntos">
        <span class="info-badge" title="Acessar"><i class="bi bi-info-lg"></i></span>

        <div class="icon-wrap">
            <i class="bi bi-tags"></i>
        </div>

        <div class="menu-title">Assuntos</div>
    </a>

    <!-- Card 4 -->
    <a class="menu-card" routerLink="/relatorio">
        <span class="info-badge" title="Acessar"><i class="bi bi-info-lg"></i></span>

        <div class="icon-wrap">
            <i class="bi bi-file-earmark-pdf"></i>
        </div>

        <div class="menu-title">Relatório</div>
    </a>
</div>